@use '@/styling/variables.scss' as var;

.inputContainer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 8px;
}

.input {
  max-width: var.componentSize(S);
  width: 100%;
  height: var.controlSize(S);
}
