@use '@/styling/variables.scss' as var;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: 'Besley', serif;
  background-color: var.color(neutral, grey1);
  color: var.color(text, default);
  font-size: var.fontSize(normal);
  margin: 0;
}

h1 {
  font-size: var.fontSize(h1);
  margin: 0;
}

h2 {
  font-size: var.fontSize(h2);
  margin: 0;
}

h3 {
  font-size: var.fontSize(h3);
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

.content-container {
  background-color: var.color(neutral, grey1);
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.content {
  max-width: var.$wideContentWidth;
  margin: auto;
  padding: 24px;

  header {
    .tagline {
      font-style: italic;
    }
  }

  main {
    margin-top: 24px;
    background-color: var.color(neutral, white);
    padding: 24px;
    box-shadow: 2px 2px 3px 3px #0000001a;
  }
}

footer {
  text-align: center;
  height: var.componentSize(Mini);
  padding-top: 80px;

  a {
    color: var.color(text, default);
  }
}

#pdf-root {
  position: absolute;
  z-index: -1000;
  top: 0;
}
