@use '@/styling/variables.scss' as var;

.title {
  font-size: var.fontSize(h2);
}

.description {
  font-size: var.fontSize(small);
}

.box {
  border-radius: 2px;
  width: var.componentSize(XS);
  height: var.controlSize(XL);
  border: 2px solid var.color(neutral, grey8);

  &.tall {
    height: var.componentSize(XS);
  }
}

.option {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.optionBox {
  width: 28px;
  height: 28px;
  border: 2px solid var.color(neutral, grey8);
  border-radius: 2px;

  &.radio {
    border-radius: 50%;
  }
}

.matrixOptionContainer {
  width: var.componentSize(Mini);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
}

.matrix {
  .row {
    display: flex;
    column-gap: 8px;

    .rowTitle {
      width: 200px;
      overflow-wrap: anywhere;
    }
  }
}
